.tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.channel-tile {
  width: 340px;
  height: 170px;
  border-radius: 0.5em;
  margin: 0.5em 0.5em;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  span {
    font-size: 3em;
    color: inherit;
  }

  .action {
    display: none;
  }

  .value:after {
    content: attr(data-unit);
    margin-left: 5px;
  }

  .sorting-enabled & {
    cursor: move;
  }

  .sorting-disabled & {
    &:hover {
      span {
         display: none
      }

      .action {
        display: inline-block;
        cursor: pointer;
        padding: 0 0.2em;
      }
    }
  }
}

.tile-container-options {
  text-align: center;
  margin: 1em 0 0 0;

  label {
    padding: 0.1em;
  }
}