.tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  user-select: none;
}

.channel-tile {
  position: relative;
  width: 340px;
  height: 170px;
  margin: 0.5em 0.5em;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: default;

  .minichart {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 170px;
    padding: 1em;
    box-sizing: border-box;
    display: none !important;
  }

  .status {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 170px;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  span {
    font-size: 3em;
    color: inherit;
  }

  .action {
    display: none;
  }

  .value:after {
    content: attr(data-unit);
    margin-left: 5px;
    font-size: 0.75em;
  }

  .sorting-enabled & {
    cursor: move !important;
  }

  .sorting-disabled & {
    &:hover {
      .action, .indicator, .value{
         display: none
      }

      .minichart {
        display: block !important;
      }
    }
  }
}

.tile-container-options {
  text-align: center;
  margin: 1em 0 0 0;

  label {
    padding: 0.1em;
  }
}