@import 'tiles';

$background-color: #060606;
$text-color: #FFFFFF;

html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > footer {
    flex: 0 1;
    text-align: center;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
  }
}

.page-header {
  text-align: center;
  margin: 1em;
}

.chart-options {
  margin: 0.5em;
}

.chart-container {
  flex: 2;
  margin: 1em;
  height: 100%;
  position: relative;
  user-select: none;
}

.chart-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 32px;

  .input {
    font-size: 1em;
  }
}

.chart-toolbar-fields {
  display: inline-block;
}

.chart-toolbar-button {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 0 0 0.25em;
}

// Misc

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.child-view {
    position: absolute;
    transition: all .5s cubic-bezier(.55,0,.1,1);
}

.text-success {
    color: #5cb85c;
}

.text-danger {
    color: #d9534f;
}

// Forms

$border-color: darken(#000090, 0.9);

.input {
  padding: 0.2em 0.4em;
  margin: 0.2em 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  font-size: 1.1em;
  transition: border-color 0.25s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

.input:focus {
  box-shadow: 0 0 5px $border-color;
  border: 1px solid $border-color;
  outline: none;
}

.button {
  padding: 0.2em 0.4em;
  margin: 0.2em;
  font-size: 1.1em;
  border-radius: 5px;
  background: darken($border-color, 10%);
  color: opacify(white, 0.1);
  border: 1px solid lighten($border-color, 20%);
  cursor: pointer;
}

.login-box {
  display: block;
  margin: 2em auto;
  min-width: 10%;
  max-width: 50%;
  width: 33%;

  .login-message {
    border-radius: 5px;
    padding: 1em;
    border: 1px solid red;
    text-align: center;
    margin: 0.5em 0 1em 0;

    $error-color: #900000;

    &.login-message-error {
      border: 2px solid darken($error-color, 10%);
      background: opacify($error-color, 0.75);
    }
  }
}

.login-form {
  .input {
    font-size: 1.2em;
    padding:0.5em;
    margin: 0 0 0.75em 0;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  .button {
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 1.0em 1.5em;
  }
}
