.color-control {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    cursor: pointer;
}

.color-control span {
    color: #ffffff;
    mix-blend-mode: screen;
}

.color-control:not(:hover) span {
    display: none;
}

.info li :first-child {
    font-weight: bold;
}

footer {
    text-align: center;
}

footer.main {
    text-align: center;
}

footer.main .username {
    font-weight: bold;
}

tr:not(:hover) td.channel-actions a {
    opacity: 0;
}

.tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.sorting-enabled .channel-tile {
    cursor: move;
}

.channel-tile {
    width: 350px;
    box-sizing: border-box;
    display: inline-block;
    padding: 3em 2em;
    border-radius: 0.5em;
    margin: 0.5em 0.5em;
    text-align: center;
}

.sorting-disabled .channel-tile:hover span {
    display: none;
}

.channel-tile a {
    text-decoration: none;
}

.channel-tile span {
    font-size: 3em;
    color: #ffffff;
}

.channel-tile .action {
    display: none;
    line-height: 2em;
}

.sorting-disabled .channel-tile:hover .action {
    display: inline-block;
    cursor: pointer;
    padding: 0 0.2em;
}

.channel-tile .value:after {
    content: attr(data-unit);
    margin-left: 5px;
}

.channel-tile span.glyphicon {
    font-size: 2.1em;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.child-view {
    position: absolute;
    transition: all .5s cubic-bezier(.55,0,.1,1);
}

.text-success {
    color: #5cb85c;
}

.text-danger {
    color: #d9534f;
}