body {
    margin: 1em;
}

.value_indicator {
    margin: 0 auto 0.5em auto;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 4em;
    display: block;
}

.value_indicator span {
    vertical-align: middle;
}

.value_indicator span.glyphicon {
    font-size: 0.8em;
}

.info li :first-child {
    font-weight: bold;
}

footer.main {
    text-align: center;
}

footer.main .username {
    font-weight: bold;
}

tr:not(:hover) td.channel-actions a {
    opacity: 0;
}