$background-color: #060606;
$text-color: #FFFFFF;

html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  //font-weight: bold;
  color: inherit;
  cursor: pointer;
  text-shadow: 0 0 4px silver;
}

a:visited {
  text-decoration: none;
}

// Misc

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.child-view {
    position: absolute;
    transition: all .5s cubic-bezier(.55,0,.1,1);
}

.text-success {
    color: #5cb85c;
}

.text-danger {
    color: #d9534f;
}


@import "form";