<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>
    {% block body %}{% endblock %}
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        function createChart(container, title, labels, values)
        {
            $(container).highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: title,
                    x: -20
                },
                xAxis: {
                    categories: labels
                },
                yAxis: {
                    title: {
                        text: 'Temperatura (°C)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '°C',
                    enabled: false
                },
                series: [{
                    data: values
                }],
                legend: {
                    enabled: false
                }
            });
        }

        function randomValues(min, max, count)
        {
            var r = [];
            for (var i = 0; i < count; i++)
            {
                r.push(min + Math.random() * (max - min));
            }
            return r;
        }

        $(function () {
            const hours = [
                '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00',
                '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00',
                '20:00', '21:00', '22:00', '23:00'
            ];

            const days = [
                '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
                '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
                '21', '22', '23', '24', '25', '26', '27', '28', '29', '30'
            ];

            const months = [
                'Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'
            ];

            createChart('#chart_daily_1', 'Dzienny 1', hours, randomValues(-10, 20, 24));
            createChart('#chart_daily_2', 'Dzienny 2', hours, randomValues(-20, 30, 24));
            createChart('#chart_yearly_1', 'Roczny 1', months, randomValues(-50, 50, 12));
            createChart('#chart_yearly_2', 'Roczny 2', months, randomValues(-50, 50, 12));
            createChart('#chart_monthly_1', 'Miesięczny 1', days, randomValues(-20, 10, 30));
            createChart('#chart_monthly_2', 'Miesięczny 2', days, randomValues(-10, 20, 30));
        });
    </script>
  </body>
</html>
