{% extends "base_info_page.html" %}

{% block title %}
    Ustawienia kanału
{% endblock %}

{% block content %}
<form role="form" method="POST" action="{{ url_for('channel_settings', channel_id=channel.id) }}">
    <div class="form-group">
        <label for="channel_uuid">Identyfikator:</label>
        <input type="text" class="form-control" id="channel_uuid" value="{{ channel.uuid }}" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="channel_name">Nazwa:</label>
        <input type="text" class="form-control" id="channel_name" name="name" value="{{ channel.name }}">
    </div>
    <div class="form-group">
        <label for="channel_color">Kolor:</label>
        <input type="color" class="form-control" id="channel_color" name="color" value="{{ channel.color }}">
    </div>
    <div class="form-group">
        <label for="channel_type">Typ:</label>
        <select class="form-control" id="channel_type" name="type">
            {% for type in channel_types %}
                <option value="{{ type.id }}"{% if channel.type_id == type.id %} selected="selected"{% endif %}>
                    {{ type.title | lower}}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="channel_unit">Jednostka:</label>
        <input type="text" class="form-control" id="channel_unit" name="unit" value="{{ channel.unit }}">
    </div>
    <div class="form-group">
        <label for="channel_disabled">Wyłączony:</label>
        <input type="checkbox" class="form-control" id="channel_disabled" name="disabled" value="{{ channel.disabled }}">
    </div>
    <div class="form-group pull-right">
        <a href="javascript:history.back()" class="btn btn-default">Anuluj</a>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>
{% endblock %}