{% extends "base_info_page.html" %}

{% block title %}
    Informacje o kanale
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12">
        <ul class="list-group info">
            <li class="list-group-item row">
                <div class="col-md-4">Identyfikator</div>
                <div class="col-md-8">{{ channel.uuid }}</div>
            </li>
            <li class="list-group-item row">
                <div class="col-md-4">Nazwa</div>
                <div class="col-md-8">{{ channel.name }}</div>
            </li>
            <li class="list-group-item row">
                <div class="col-md-4">Typ</div>
                <div class="col-md-8">{{ channel.type.title | lower }}</div>
            </li>
            {% if channel['description'] %}
            <li class="list-group-item row">
                <div class="col-md-4">Opis</div>
                <div class="col-md-8">{{ channel.description }}</div>
            </li>
            {% endif %}
            <li class="list-group-item row hidden-md hidden-lg">
                <div class="col-md-4">Ostatnia aktualizacja</div>
                <div class="col-md-8">{{ channel.value_updated }}</div>
            </li>
        </ul>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="label label-info value_indicator hidden-print">
            <span class="glyphicon"></span>
            <span id="channel_value" data-value="{{ channel.value }}" data-unit="{{ channel.unit }}">...</span>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Najnowsze statystyki</h2>
    </div>
    <div class="panel-body">
        <canvas id="realtime_chart"></canvas>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Statystyki historyczne</h2>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <form id="chart_settings" class="navbar-form navbar-left">
                    <div class="form-group">
                        <label>Okres: </label>
                        <input type="date" required="required" class="form-control" name="from">
                        -
                        <input type="date" required="required" class="form-control" name="to">
                    </div>
                    <button type="submit" class="btn btn-primary">Aktualizuj wykres</button>
                </form>
            </div>
        </div>
        <canvas id="custom_chart"></canvas>
    </div>
</div>

{% endblock %}