{% extends "base_info_page.html" %}

{% block title %}
    Lista urządzeń
{% endblock %}

{% block content %}
{% for device in devices %}
<div class="panel panel-default">
    <div class="panel-heading"><a href="{{ url_for('device_details', device_id=device.id) }}">{{ device.name }}</a></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nazwa</th>
                <th>Pomiar</th>
                <th>Ostatnia aktualizacja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for channel in device.channels %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('channel_details', channel_id=channel.id) }}">
                        {{ channel.name or channel.uuid }}
                    </a>
                </td>
                <td>
                    {{ channel.value_with_unit or '-' }}
                </td>
                <td>
                    {% if channel.value_updated %}
                        {{ channel.value_updated | datetime }}
                    {% else %}
                        brak
                    {% endif %}
                </td>
                <td class="channel-actions">
                    {% if user.is_authenticated %}
                    <a href="{{ url_for('channel_settings', channel_id=channel.id) }}" title="Ustawienia kanału">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}