{% extends "base_info_page.html" %}

{% block title %}
    Informacje o urządzeniu
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <ul class="list-group info">
            <li class="list-group-item row">
                <div class="col-md-4">Identyfikator</div>
                <div class="col-md-8">{{ device.uuid }}</div>
            </li>
            <li class="list-group-item row">
                <div class="col-md-4">Nazwa</div>
                <div class="col-md-8">{{ device.name }}</div>
            </li>
        </ul>
    </div>
</div>

<h2 class="sub-header">Kanały</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Pomiar</th>
            <th>Ostatnia aktualizacja</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for channel in device.channels %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="{{ url_for('channel_details', channel_id=channel.id) }}">
                    {{ channel.name }}
                </a>
            </td>
            <td>
                {{ channel.value_with_unit or '-'}}
            </td>
            <td>
                {% if channel.value_updated %}
                    {{ channel.value_updated | datetime}}
                {% else %}
                    brak
                {% endif %}
            </td>
            <td class="channel-actions">
                {% if user.is_authenticated %}
                    <a href="{{ url_for('channel_settings', channel_id=channel.id) }}" title="Ustawienia kanału">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}