{% extends "base_info_page.html" %}

{% block title %}
    Lista urządzeń
{% endblock %}

{% block content %}
{% for device in devices %}
<div class="panel panel-default">
    <div class="panel-heading"><a href="{{ url_for('device_details', device_id=device['id']) }}">{{ device['name'] }}</a></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nazwa</th>
                <th>Pomiar</th>
                <th>Ostatnia aktualizacja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for channel in device['channels'] %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ channel['name'] }}</td>
                <td class="{{ ['temperature', 'pressure'][channel['type']] }}">{{ channel['value'] }}</td>
                <td>{{ channel['value_updated'] | datetime }}</td>
                <td><a href="{{ url_for('channel_details', channel_id=channel['id']) }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}