<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#060606">
        <link rel="icon" href="/static/favicon.png">
        <title>Dashboard</title>
        <link href="/static{{ path_with_mtime('/styles.css') }}" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body>
        <div id="app"></div>
        <script src="/static{{ path_with_mtime('/vendor.js') }}"></script>
        <script src="/static{{ path_with_mtime('/app.js') }}"></script>
    </body>
</html>