<!DOCTYPE html>
<html lang="pl" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#060606">
        <link rel="icon" href="/static/images/favicon.png">
        <title>Panel statystyk</title>
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body>
        <div id="app"></div>
        <script src="/static{{ path_with_mtime('/bundle.js') }}"></script>
    </body>
</html>