<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#060606">
        <link rel="icon" href="/static/images/favicon.png">
        <title>Panel statystyk - logowanie</title>
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1 class="page-header">Logowanie</h1>
        <div class="login-box">
            {% if message %}
            <div class="login-message login-message-{{ message[0] }}">
            {{ message[1]}}
            </div>
            {% endif %}
            <form role="form" class="login-form" method="POST" action="{{ url_for('login', next=next) }}">
                <input type="text" class="input" name="username" placeholder="Nazwa użytkownika">
                <input type="password" class="input" name="password" placeholder="Hasło">
                <input type="submit" class="button" value="Zaloguj się">
            </form>
        </div>
    </body>
</html>