{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
            <h1 class="page-header">Panel zarządzania</h1>

            <h2 class="sub-header">Czujnik {{ sensor['name'] }}</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">Opis</div>
                        <div class="col-md-6">{{ sensor['description'] }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Pomiar</div>
                        <div class="col-md-6">{{ sensor['value'] }}℃</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Ostatnia aktualizacja</div>
                        <div class="col-md-6">{{ sensor['updated'] }}</div>
                    </div>
                </div>
                <div class="col-md4">

                </div>
            </div>

            <h2 class="sub-header">Wykresy</h2>
            <div id="chart_daily" class="col-md-12"></div>
            <div id="chart_monthly" class="col-md-12"></div>
            <div id="chart_yearly" class="col-md-12"></div>

            <script>
                const hours = {{ stats_daily[0] | safe}};
                const hours_values = {{ stats_daily[1] | safe }};

                const days = [
                    '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
                    '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
                    '21', '22', '23', '24', '25', '26', '27', '28', '29', '30'
                ];

                const months = [
                    'Sty', 'Lut', 'Mar', 'Kwi', 'Maj', 'Cze', 'Lip', 'Sie', 'Wrz', 'Paź', 'Lis', 'Gru'
                ];
            </script>
        </div>
    </div>
</div>
{% endblock %}